/* DOC EDITOR */

.doc-editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 1000px;
}

.doc-editor--display {
    padding: 1em;
}

.doc-editor--display > p:after {
    content: "";
    display: inline-block;
    width: 0px;
}

.doc-display--button-container{
    height: 2em;
    padding: 0.25em;
    display: flex;
    gap: 0.5em;
}

.doc-display--button-container > button {
    background-color: white;
    border: none;
    padding: 0;
    border: 1px solid #1d1f22;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    color: #1d1f22;
}

.doc-editor--input-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 1em;
    background-color: #f5f6fa;
    margin-right: 1em;
}

button[class="close-btn"] {
    background-color: white;
    color: #e84118;
    border: 1px solid #e84118;
}

@media (max-width: 875px) {
    .doc-editor {
        grid-template-columns: 1fr;
    }
}

input {
    background-color: white;
    color: #2f3640;
    border: 1px solid #2f3640;
    border-radius: 4px;
}

/* NOTE */

textarea {
    font-family: 'Courier New', Courier, monospace;
    margin: -2px auto 0;
    background-color: white;
    color: #2f3640;
    border: 1px solid #2f3640;
    border-radius: 4px;
    font-size: 1rem;
    resize: none;
    min-height: 40px;
    line-height: 20px;
    overflow: hidden;
}

/* TODO */

.todo-container {
    height: 24px;
}

.todo-container > input {
    margin-right: 1em;
}

.list-input{
    height: 22px;
}

.delete-btn {
    margin-left: 2px;
    width: 20px;
    padding: 0;

    border: 1px solid #e84118;
    border-radius: 2px;

    background-color: white;
    color: #e84118;
}

.delete-btn:hover {
    background-color: #dcdde1;
}
.delete-btn:active {
    background-color: #e84118;
}

.add-btn {
    background-color: #2f3640;
    color: white;
    margin: 0 auto;
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 0.25em;
}

.add-btn:disabled {
    background-color: #7f8fa6;
}

/* RANDOM CHOICE */

.random-choice {
    height: 24px;
}

.random-btn {
    float: left;
    margin-left: 1em;
    background-color: #00a8ff;
    font-size: 1.1rem;
    padding: 0.5em 0.75em;
    border: none;
    border-radius: 0.5em;
}

/* MEME */

.meme {
    width: 100%;
    position: relative;
}

.meme--img {
    max-width: 500px;
    display: block;
    margin: auto;
}

.meme-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.meme-input {
    margin-bottom: 1em;
}

.meme-new-btn {
    color: #192a56;
    border: 1px solid #192a56;
    border-radius: 4px;
    background-color: #f5f6fa;
    font-size: 1.5rem;
    padding: 0.5em;
}

.meme-new-btn:hover {
    color: white;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

/* From scrimba meme generator project */
.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}