@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;
  color: #1d1f22;
}

:root {
  --border-color: rgb(179, 183, 190);
}

body {
  background-color: white;
}

/* NAV */

h1 {
  font-size: 2.25rem;
}

.title-icon {
  width: 45px;
  height: 45px;
}

.title-container{
  display: flex;
  align-items: center;
  gap: 1em;
}

nav{
  border-bottom: 1px solid var(--border-color);
  padding: 0.5em 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--btn-holder {
  display: flex;
  gap: 0.75em;
}

.nav--btn-holder > button {
  font-size: 1.25rem;
  color: rgb(29, 29, 29);
  border: none;
  background-color: #fff;
  box-shadow: var(--dt-surface1-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
  border-radius: 6.25em;
  padding: 0.75rem;
}