@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;700&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter Tight', sans-serif;
  color: #1d1f22;
}

:root {
  --border-color: rgb(179, 183, 190);
}

body {
  background-color: white;
}

/* NAV */

h1 {
  font-size: 2.25rem;
}

.title-icon {
  width: 45px;
  height: 45px;
}

.title-container{
  display: flex;
  align-items: center;
  gap: 1em;
}

nav{
  border-bottom: 1px solid var(--border-color);
  padding: 0.5em 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--btn-holder {
  display: flex;
  gap: 0.75em;
}

.nav--btn-holder > button {
  font-size: 1.25rem;
  color: rgb(29, 29, 29);
  border: none;
  background-color: #fff;
  box-shadow: var(--dt-surface1-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
  border-radius: 6.25em;
  padding: 0.75rem;
}

/* DOC Display */

.doc-display{
  padding: 1.5em;
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.doc-shortcut{
  min-height: 50px;
  padding: 0.5em;
  font-size: 1.125rem;

  border: 1px solid var(--border-color);
  border-radius: 0.25em;

  display: flex;
  align-items: center;
  gap: 0.25em;
}

.doc-shortcut--icon{
  width: 24px;
  height: 24px;
}

/* NEW DOC MODAL */

.new-doc--dialog{
  margin: 0 auto;
  top: 30px;
  width: 275px;

  border: none;
  border-radius: 1em;
  padding: 0.25em 1em 0.5em;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.34);
}

.new-doc--dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.25);
}

.new-doc--dialog > header > h2{
  font-size: 1.75rem;
  text-align: center;
}

.new-doc--close-btn {
  position: fixed;
  top: 16px;
  right: calc(50% - 155px);

  width: 30px;
  height: 30px;
  font-size: 1.25rem;
  border: none;
  border-radius: 50%;

  background-color: rgb(58, 58, 58);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.new-doc--form{
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.new-doc--form-label{
  display: inline-block;
  width: 50px;
}

.new-doc--form select, 
.new-doc--form input{
  font-size: 1.1rem;
  width: calc(100% - 50px);
}

.new-doc--form > button[type="submit"]{
  width: 40%;
  margin: 0 auto;
  font-size: 1rem;
  background-color: rgb(58, 58, 58);
  color: white;
  padding: 0.25em;
  border: none;
  border-radius: 0.5em;
}

/* DOC EDITOR */

.doc-editor{
  display: flex;
  width: 100%;
}

.doc-editor > * {
  width: 100%;
}

.doc-editor--display{
  padding: 1em;
}

.doc-editor--display > p:after{
  content: "";
  display: inline-block;
  width: 0px;
}

.doc-editor--input-container{
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.doc-editor--input[type="textarea"]{
  margin: auto;
  resize: none;
  min-height: 40px;
  line-height: 20px;
  overflow: hidden;
}

/* MEME */

.meme{
  width: 100%;
  position: relative;
}

.meme--img{
  max-width: 500px;
  display: block;
  margin: auto;
}

/* From scrimba project */
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}